
body {
    background-color: #0e2a47;
    color: #ffff;
}

section {
    background-color: #48adff;
    width: 600px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
}

#interacao {
    padding-top: 10px;
    text-align: center;
}

.alinhar {
    text-align: center;
}


select {
    width: 250px;
    margin-top: 15px;
    margin-right: 20px;
    color: #5BD305;
    
}

#area-list {
    text-align: center;
}